{% extends "base.html" %}
{% block title %}<title>{{company}}</title>{% endblock %}
{% block content %}
        <header>
            <div class="header_container">
                <div class="img_menu">
                    <img src="/static/img/profile.png">
                </div>
                <div class="navbar_ navbar-light container">
                    <div class="header_button_1 navbar-brand font_size_button">
                        <a href="/{{company}}/achievements"><button>Достижения</button></a>
                    </div>
                    <div  class="header_button_2 navbar-brand font_size_button">
                        <a href="/{{company}}/developers"><button>Разработчики</button></a>
                    </div>
                    <div class="header_button_3 navbar-brand font_size_button">
                        <a href="/{{company}}/history"><button>История компании</button></a>
                    </div>
                </div>
                <div>
                    <a href="/">
                    <img src="/static/img/href_menu.png">
                    </a>
                </div>
            </div>
        </header>
        {% for data in list_data %}
        <div id="1" class="{{data[3]}} text-block_1 top">
            <div class="text-block-1 navbar_">
                <h2  id="text_one">
                    {{data[0]}}
                </h2>
            </div>
            <div class="navbar_ media">
                <div id="block1" class="text-block-1 media-body">
                    {{data[1]}}
                </div>
                <div class="{{data[4]}} ads font">
                    <img id="photo_one" src='{{data[2]}}' style="width: 100%; height:100%;">
                </div>
            </div>
        </div>
        {% endfor %}
{% endblock %}