body {
  font-family: "Comfortaa", sans-serif;

}

p {
  font-size: 24px;
}

.font_block {
  font-size: 28px;
  margin: 170px 650px;
}

.position {
  position: fixed;
  width: 27%;
  margin-left: 10px;
  margin-top: 10px;
}

.scroll_panel {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 90px;
  transition: background 0.2s ease;
}

.scroll_panel:hover {
  background: #eee;
}

/* Наверх */
#scroll_top {
  display: block;
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  opacity: 0.5;
  transition: background 0.2s ease;
}

#scroll_top span {
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  top: 20px;
}

#scroll_top:hover {
  background: #ddd;
  opacity: 1;
}

/* Вниз */
#scroll_bottom {
  display: block;
  width: 100%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  text-align: center;
  opacity: 0.5;
  transition: background 0.2s ease;
}

#scroll_bottom span {
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 20px;
}

#scroll_bottom:hover {
  background: #ddd;
  opacity: 1;
}

/* Скрытие панели при маленькой ширине окна */
@media screen and (max-width: 900px) {
  .scroll_panel {
    display: none;
  }
}

.home_button{
  width: 100px;
}


.h_comments{
  margin-top: 12px;
}
