@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
.user{
    float:left;
    margin-left: 15px;
    margin-top: 15px;

}
boby{
    margin: 0;
    padding: 0;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url('../img/background-register-login.jpg')no-repeat;
    background-position: center;
    background-size: cover;
}
.form-box-login{
    position: fixed;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;

}
.form-box-register{
    position: fixed;
    width: 400px;
    height: 540px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;

}
h2{
    font-size: 2em;
    color: #fff;
    text-align: center;

}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
    top: -5px;
}
.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #fff;
}
.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}
.forget{
    margin: -15px 0 15px ;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.forget label input{
    margin-right: 3px;

}
.forget label a{
    color: #fff;
    text-decoration: none;
}
.forget label a:hover{
    text-decoration: underline;
}
button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
.register{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}
.register p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.register p a:hover {
    text-decoration: underline;
}
.message-error{
    margin-top: 10px;
    color: #fff;
}
.container{
    position: relative;
    display: flex;
    height: 40px;
    width: 40px;
    align-self: flex-start;
    margin-top: 20px;
    float: left;
}
.languages__btn{
    display: flex;
    background: transparent;
    color: white;
    font-size: 20px;

}
.text-body {
    font-family: "Comfortaa";
}
.header_container {
    display:flex; align-items:center;
}
.background-header {
    text-align: center;
    font-size: 42px;
}
div#tekst_sverhu_kartinki {
position: relative;
}

.text_header {
    font-size: 58px;
}

.tekst_sverhu_kartinki {
    position: absolute;
    padding-top: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.navbar_ {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 3rem 4.5rem !important;
}

.font_size_button {
    font-size: 22px;
}

.img_menu {
    margin-right: 5.5rem;
}

.background_image_header {
    background: #ffffff url("/static/img/background-img.png") center;
    margin-top: 15px;
    width: 100%;
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
     user-select: none;
     pointer-events: none;
}


.top {
    margin-top: 140px;
}

.footer_template {
    margin-top: 200px;
    padding: 10px;
    background-color: #c8cccd;
    padding: 1rem 1rem !important;
}

.button_comments {
    text-align: right;
}

.telegram_img {
    padding-left: 30px;
    padding-top: 5px;
}

.button_comments {
    font-size: 34px;
    padding-top: 1px;
    padding-right: 30px;
}

.text-block-1, .text-block-2, text-block-3{
    max-width: 60rem;
}
.media_text_block1, .media_text_block2, .media_text_block3, yandex_text_block2, yandex_text_block3 {
    box-shadow: inset -10px -10px 10px 20px white;
}
.media_text_block1 {
    background: radial-gradient(#fffed8, #ffffff);
}

.media_text_block2 {
    background: radial-gradient(#ffe4ec, #ffffff);
}

.media_text_block3 {
    background: radial-gradient(#ebf3ff, #ffffff);
}

.text_title {
    font-size: 65px;
}

.media-body {
    font-size: 36px;
    padding-top: 10px;
}
.media-right {
    padding-left: 20px;
}
.media-left {
    margin-right: 40px;
}

.ads {
   display: table-caption;
}

.font {
    width: 100%;
    max-width: 50%;
}

.button {
    width: 270px;
    height: 60px;
    border: 1px;
    border-radius: 30px;
}
