.header_container {
    display:flex; align-items:center;
}

.navbar_ {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 3rem 4.5rem;
}
button{
    font-family: verdana;
    width: 270px;
    height: 60px;
    border: 1px;
    border-radius: 30px;
}
.font_size_button {
    font-size: 22px;
}

.img_menu {
    margin-left: 30px;
}

.background_image_header {
    background: #ffffff url("/static/img/background-img.png") center;
    margin-top: 15px;
    width: 100%;
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
     user-select: none;
     pointer-events: none;
}


.top {
    margin-top: 200px;
}

.footer_template {
    margin-top: 200px;
    padding: 10px;
    background-color: #c8cccd;
}

.button_comments {
    text-align: right;
}

.telegram_img {
    padding-left: 30px;
    padding-top: 5px;
}

.button_comments {
    font-size: 34px;
    padding-top: 1px;
    padding-right: 30px;
}