{% extends "base.html" %}

{% block content %}
<form method="POST" enctype="multipart/form-data">
    <div class="admin_form">
        <h1>Админ панель <span class="badge bg-secondary"></span></h1>
         {{ form.hidden_tag() }}
        <div class="input-group mb-3">
            {{ form.title.label(class="input-group-text") }}<br>
            {{ form.title(class="form-control") }}<br>
            {% for error in form.title.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
        </div>
        <div class="input-group">
            {{ form.content.label(class="input-group-text") }}<br>
            {{ form.content(class="form-control") }}<br>
        </div>
        <br>
        {% if title == "Добавление информации" %}
            <div class="form-file">
                    <input type="file" class="form-file-input" id="customFile" name="file">
                    <label class="form-file-label" for="customFile">
                        <span class="form-file-text">Загрузить изображение</span>
                    </label>
            </div>
        {% endif %}
        <br>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        {{message}}
    </div>
    <img src="/static/img/background_admin.jpg" class="img_admin">
</form>
{% endblock %}