{% extends "base.html" %}
{% block title %}<title data-lang="title-home">Главная</title>{% endblock %}
{% block content %}
        <header>
            <div class="header_container">
                <div>
                    <div class="user">
                        <img src="../static/img/profile.PNG">
                        {% if current_user.is_authenticated %}
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                    {{current_user.name }}
                                </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li><a class="dropdown-item" href="/logout" data-lang="dropdown-item_exit">Выйти</a></li>
                            </ul>
                            </div>
                        {% else %}
                             <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                    User
                                </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="/register" data-lang="dropdown-item_register">Зарегистрироваться</a></li>
                                <li><a class="dropdown-item" href="/login" data-lang="dropdown-item_login">Войти</a></li>
                            </ul>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div>
                    <div class="languages__btn languages__btn-black">
                        <button class="header__btn languages__btn languages__btn-black" data-btn="ru">Ru</button>
                        |
                        <button class="header__btn languages__btn languages__btn-black" data-btn="en">En</button>
                    </div>
                </div>
                <div class="navbar_ navbar-light container">
                    <div class="header_button_1 navbar-brand font_size_button">
                        <a href="/google/achievements"><button class="button button-color">Google</button></a>
                    </div>
                    <div  class="header_button_2 navbar-brand font_size_button">
                       <a href="/yandex/achievements"><button class="button button-color">Yandex</button></a>
                    </div>
                    <div class="header_button_3 navbar-brand font_size_button">
                        <a href="/openai/achievements"><button class="button button-color">OpenAI</button></a>
                    </div>
                </div>
                <div>
                    <a href="/">
                        <img src="/static/img/href_menu.png">
                    </a>
                </div>
            </div>
            <div id="tekst_sverhu_kartinki">
                <img src="/static/img/background-img.png" class="background_image_header">
                <div class="tekst_sverhu_kartinki"><h1 class="text_header" data-lang="title-header">ВСЕ О МИРЕ IT</h1></div>
            </div>
        </header>
        <main>
            <div class="media_text_block1 text-block_1 top">
                <div class="text-block-1 navbar_">
                    <h2 class="text_title" data-lang="first-heading">
                        {{home_text[0]["title"]}}
                    </h2>
                </div>
                <div class="navbar_ media">
                    <div class="text-block-1 media-body" data-lang="first-text">
                        {{home_text[0]["description"]}}
                    </div>
                    <div class="media-right ads font">
                        <img src='{{home_text[0]["img"]}}' style="width: 100%; height:100%;">
                    </div>
                </div>
            </div>
            <div class="media_text_block2  text-block_2 top">
                <div class="text-block-2 navbar_">
                    <h2 class="text_title" data-lang="second-heading">
                        {{home_text[1]["title"]}}
                    </h2>
                </div>
                <div class="navbar_ media">
                    <div class="media-left ads font">
                        <img src='{{home_text[1]["img"]}}' style="width: 100%;">
                    </div>
                    <div class="text-block-2 media-body" data-lang="second-text">
                        {{home_text[1]["description"]}}
                    </div>
                </div>
            </div>
            <div  class="media_text_block3 text-block_3 top">
                <div class="top text-block-3 navbar_">
                    <h2 class="text_title" data-lang="third-heading">
                        {{home_text[2]["title"]}}
                    </h2>
                </div>
                <div class="navbar_ media">
                    <div class="text-block-3 media-body" data-lang="third-text">
                        {{home_text[2]["description"]}}
                    </div>
                    <div class="media-right ads font">
                        <img src='{{home_text[2]["img"]}}' style="width: 100%;">
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="footer_template navbar_ navbar-light">
                <div class="telegram_img">
                    <a href="https://t.me/IT_information_Lasto">
                        <img src="/static/img/telegram_bot.png">
                    </a>
                </div>
                <div class="button_comments">
                    <a href="/comments">
                        <button class="button" type="button" data-lang="comments-button">
                            коментарии
                        </button>
                    </a>
                </div>
            </div>
        </footer>
{% endblock %}