{% extends "base.html" %}

{% block content %}
    <section>
        <div class="form-box-login">
            <div class="form-value">
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <h2>Авторизация</h2>
                    <div class="inputbox">
                        {{ form.email(type="email") }}
                        <label>{{ form.email.label }}</label>
                    </div>
                    <div class="inputbox">
                        {{ form.password(type="password") }}
                        <label>{{ form.password.label }}</label>
                    </div>
                    <div class="forget">
                        <label>{{ form.remember_me() }} {{ form.remember_me.label }}</label>
                    </div>
                    <button type="submit">Войти</button>
                    <div class="message-error">{{ message }}</div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}