{% extends "base.html" %}

{% block content %}
<section>
    <div class="form-box-register">
        <div class="form-value">
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <h2>Регистрация</h2>
                <div class="inputbox">
                    {{ form.email(type="email") }}
                    <label>{{ form.email.label }}</label>
                </div>
                <div class="inputbox">
                    {{ form.password(type="password") }}
                    <label>{{ form.password.label }}</label>
                </div>
                <div class="inputbox">
                    {{ form.password_again(type="password") }}
                    <label>{{ form.password_again.label }}</label>
                </div>
                <div class="inputbox">
                    {{ form.name }}
                    <label>{{ form.name.label }}</label>
                </div>
                <button type="submit">Зарегистрироваться</button>
                <div class="message-error">{{ message }}</div>
            </form>
        </div>
    </div>
</section>
{% endblock %}